*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.p-decoration {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #487276;
  margin-bottom: 1rem;
}

.p-normal {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2,
h3,
h4 {
  margin-bottom: 1rem;
}

.content {
  padding: 0 5rem 5rem;
}

.content h2 {
  font-size: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-top: 3rem;
}

.header-logo {
  position: absolute;
  margin-top: 10px;
}

.logo {
  width: 8rem;
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  position: relative;
  top: -1rem;
  width: 2rem;
}

.social-link {
  text-decoration: none;
  margin: 0 0.5rem;
}

.social-logo {
  width: 1rem;
}

.phone {
  font-weight: 700;
  color: #487276;
  margin: 0 1.5rem;
}

.btn-primary {
  text-decoration: none;
  background-color: #c79851;
  color: white;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
}

.menu-container {
  margin-top: 2rem;
}

.menu-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu-item {
  font-weight: 700;
  list-style: none;
  padding-bottom: 10px;
  margin-left: 100px;
}

.menu-list :first-child {
  margin-left: 0;
}

.menu-item :hover {
  color: #c79851;
  border-bottom: 2px solid #c79851;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1rem;
  padding-bottom: 6px;
}

.section-1 {
  margin-top: 1rem;
}

#slider {
  overflow: hidden;
  margin: 0 auto;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 20s slider infinite;
}

#slider img {
  width: 20%;
  height: auto;
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.section-2,
.section-3 {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.section-2-left,
.section-3-left {
  text-align: left;
  width: 50%;
  flex: 0 0 auto;
  padding: 0 1.5rem;
}

.section-2-right,
.section-3-right {
  width: 50%;
}

.img {
  width: 100%;
}

.btn-secondary {
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #c79851;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border: 1px solid #c79851;
}

.btn-secondary:hover {
  text-decoration: none;
  background-color: #c79851;
  color: white;
  font-size: 1rem;
}

.section-4,
.section-5 {
  margin-top: 4rem;
}

.galery-container {
  max-width: 1260px;
}

.galery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galery-item {
  max-width: 33%;
  height: auto;
  padding: 0 25px;
}

.actu {
  margin: 0 2rem 3rem;
}

.news {
  margin: 0 2rem;
}

.next-actu {
  text-decoration: none;
  color: #c79851;
  font-weight: 700;
}

.center {
  text-align: center;
  margin-top: 1rem;
}

.footer {
  margin-top: 80px;
  padding-top: 1.5rem;
  border-top: 1px solid #eee;
}

.footer-top {
  display: flex;
  margin-top: 1rem;
}

.footer-top-item {
  width: 33.33%;
}

.social-footer {
  margin-top: 1rem;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.nav-bottom ul {
  list-style: none;
}

.nav-bottom li {
  display: inline-block;
}

.nav-bottom li :hover {
  color: #c79851;
  border-bottom: 1px solid #c79851;
}

.nav-bottom-item {
  text-decoration: none;
  margin-right: 0.5rem;
  color: black;
}

@media screen and (max-width: 1000px) {
  .menu-item {
    margin-left: 50px;
  }

  .content {
    padding: 0 2rem 2rem;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .footer-top-item {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
  }

  .nav-bottom {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    margin-top: 20px;
  }

  .logo {
    width: 3.5rem;
  }

  .header-social,
  .menu-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .section-2,
  .section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .section-2-left,
  .section-3-left {
    text-align: center;
    width: 100%;
  }

  .section-2-right,
  .section-3-right {
    margin-top: 30px;
    width: 100%;
  }

  .galery {
    display: flex;
    flex-wrap: wrap;
  }

  .galery-item {
    max-width: 40%;
    height: auto;
    margin: 0 0 20px;
    padding: 0 10px;
  }

  .section-4,
  .section-5 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 555px) {
  .galery {
    display: flex;
    flex-direction: column;
  }

  .galery-item {
    max-width: 100%;
    height: auto;
    margin: 0 0 20px;
    padding: 0;
  }

  .actu {
    margin: 0;
  }

  .news {
    margin: 0;
  }
}
